@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;900&family=Poppins:wght@100&family=Roboto:wght@900&display=swap');

*{
    color: white;
    font-family: 'Inter', sans-serif;
}

.netflix_offlinecard{
    height: 75vh;
    background-color: black;

    display: flex;
    justify-content: center;
}

.netflix_offlinecard-photo{
    display: flex;
    justify-content: center;

    margin-top: 90px;
}

.netflix_offlinecard-photo img{
    height: 400px;
}

.netflix_offlinecard-photo-bar{
    background-color: black;
    border: 3px solid rgb(30, 30, 30);
    border-radius: 10px;

    height: 100px;
    width: 310px;

    position: absolute;

    margin-top: 35vh;

    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.netflix_offlinecard-photo-bar img{
    height: 80px;
    width: 60px;

    margin-left: 15px;
}

.netflix_offlinecard-photo-bar-text{
    margin-left: 20px;
}

.netflix_offlinecard-photo-bar-text h6{
    color: blue;
    font-weight: normal;
    font-size: 0.8rem;
}

.netflix_offlinecard-text{
    margin-top: 30vh;
}

.netflix_offlinecard-text h3{
    font-weight: normal;
}